{% extends 'base.html' %}

{% block content %}


	<!-- ==========================================================================================================
													   HERO
		 ========================================================================================================== -->
	{% load static %}
  <div class="site-wrap">


    <div class="site-blocks-cover overlay" style="background-image: url({% static 'neta/images/hero_bg_2.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10">
            
            <div class="row justify-content-center mb-4">
              <div class="col-md-10 text-center">
                <h1 data-aos="fade-up" class="mb-5">About our  <span class="typed-words"></span></h1>

                <p data-aos="fade-up" data-aos-delay="100"><a href="#" class="btn btn-primary btn-pill">Get Started</a></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  



    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'neta/images/hero_bg_1.jpg' %}" alt="Image" class="img-fluid rounded mb-3">
            <img src="{% static 'neta/images/hero_bg_2.jpg' %}" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-5 ml-auto">
            <h2 class="text-primary mb-3">About Our History</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptates a explicabo delectus sed labore dolor enim optio odio at!</p>
            <p class="mb-4">Adipisci dolore reprehenderit est et assumenda veritatis, ex voluptate odio consequuntur quo ipsa accusamus dicta laborum exercitationem aspernatur reiciendis perspiciatis!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptates a explicabo delectus sed labore dolor enim optio odio at!</p>
            <p class="mb-4">Adipisci dolore reprehenderit est et assumenda veritatis, ex voluptate odio consequuntur quo ipsa accusamus dicta laborum exercitationem aspernatur reiciendis perspiciatis!</p>

            <ul class="ul-check list-unstyled success">
              <li>Adipisci dolore reprehenderit</li>
              <li>Accusamus dicta laborum</li>
              <li>Delectus sed labore</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    


    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2 class="text-primary mb-3">Our Staffs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis repudiandae quo, voluptatem possimus inventor.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-4 mb-lg-5 text-center">
            <img src="{% static 'neta/images/person_1.jpg' %}" alt="Image" class="img-fluid mb-3 w-50 rounded-circle">
            <h3 class="h4">Susan Horton</h3>
            <p class="caption text-primary">Therapist</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem tempore in consectetur quasi saepe, dicta, asperiores velit repellendus quo optio reiciendis? Accusantium dolorem cupiditate rem, sequi. Ad recusandae voluptatem pariatur?</p>
          </div>
          <div class="col-md-6 col-lg-6 mb-4 mb-lg-5 text-center">
            <img src="{% static 'neta/images/person_2.jpg' %}" class="img-fluid mb-3 w-50 rounded-circle">
            <h3 class="h4">Jonathan Kennedy</h3>
            <p class="caption text-primary">Therapist</p>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          </div>
          <div class="col-md-6 col-lg-6 mb-4 mb-lg-5 text-center">
            <img src="{% static 'neta/images/person_3.jpg' %}" class="img-fluid mb-3 w-50 rounded-circle">
            <h3 class="h4">Gordon Meyer</h3>
            <p class="caption text-primary">Therapist</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ea ad dolore illum dignissimos sed provident voluptatem velit exercitationem? Odit consectetur accusamus rerum voluptatibus eos temporibus perferendis harum nulla, ad.</p>
          </div>
          <div class="col-md-6 col-lg-6 mb-4 mb-lg-5 text-center">
            <img src="{% static 'neta/images/person_4.jpg' %}" alt="Image" class="img-fluid mb-3 w-50 rounded-circle">
            <h3 class="h4">Doug Hale Kennedy</h3>
            <p class="caption text-primary">Therapist</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus eum eveniet deserunt totam odit itaque necessitatibus numquam doloremque officiis repudiandae ipsum delectus atque magni obcaecati voluptate, ea qui incidunt!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 block-cta-1 primary-overlay" style="background-image: url('images/hero_bg_2.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-7 mb-4 mb-lg-0">
            <h2 class="mb-3 mt-0 text-white">Upto 30% Discount for The First Commers</h2>
            <p class="mb-0 text-white lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
          <div class="col-lg-4">
            <p class="mb-0"><a href="contact.html" class="btn btn-outline-white text-white btn-md btn-pill px-5 font-weight-bold btn-block">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Products</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-6 mb-5 mb-lg-0 col-lg-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <form action="#" method="post" class="subscription">
              <div class="input-group mb-3  d-flex align-items-stretch">
                <input type="text" class="form-control bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5">
          <div class="col-12 text-md-center text-left">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

 {% endblock %}